@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to game shop!</h1>
    <p><h3> Here you will find games for all platforms.</h3></p>
    <img src="https://cdn2.iconfinder.com/data/icons/round-set-vol-2/120/gamepad-512.png" alt="Gamepad">
    
</div>